

.TitleFont {
    font-family: Mystery_Quest;
}
.TitleColor1{
    color: #ff6b6b;
}

.TitleColor2{
    color:#FFD93D
}
.TitleColor3{
    color:#6BCB77
}
/*

.Nav {
    text-decoration:None;
    font-family: Patrick_Hand;
    font-size:1.5em;
}

.active {
    color:#21BF73
    
}
.inactive{
    color:#FD5253;
    text-decoration:None;
}*/